@forward "bar";
@forward "picker";
@forward "logout-menu";
@forward "music";
@forward "notifications";
@forward "osd";
@forward "system-menu";
@forward "screen-corners";
@forward "sidebar";
@forward "clipboard";
@forward "window-switcher";
@forward "dock";