@use "../../abstracts" as *;
@use "sass:color";
@use "./modules/actions.scss";
@use "./modules/clock.scss";
@use "./modules/settings.scss";
@use "./modules/weather.scss";
@use "./modules/widgets.scss";
@use "./modules/modes.scss";
@use "./modules/timer.scss";
@use "./modules/updater.scss";
@use "./modules/hardware.scss";
@use "./modules/notes.scss";

.sidebar {
  @include window;
  @include border;
  @include light-mode-shadow;
  min-width: 300px;
  margin: $spacing-md;

  & > box {
    @include window-box;
    @include border;
    @include light-mode-shadow;
  }

  separator {
    background-color: color.adjust($fg, $alpha: -0.8);
    margin: 0.5rem 0;
    min-height: 1px;
  }

  image {
    margin-right: $spacing-md;
  }
}