@use "../../abstracts" as *;
@use "sass:color";
@use "./modules/actions.scss";
@use "./modules/clock.scss";
@use "./modules/settings.scss";
@use "./modules/weather.scss";
@use "./modules/widgets.scss";
@use "./modules/modes.scss";
@use "./modules/timer.scss";
@use "./modules/updater.scss";
@use "./modules/hardware.scss";
@use "./modules/notes.scss";

// Detect if background is dark (lightness < 50%)
$is-dark: color.lightness($bg) < 50%;
$adaptive-lightness-1: if($is-dark, 6%, -6%);
$adaptive-lightness-2: if($is-dark, 2%, -3%);

.sidebar {
  @include window;
  background: linear-gradient(
    135deg,
    color.adjust($bg, $alpha: -0.12, $lightness: $adaptive-lightness-1),
    color.adjust($bg, $alpha: -0.18, $lightness: $adaptive-lightness-2)
  );
  border: 1px solid color.adjust($fg, $alpha: -0.88);
  border-radius: 20px;
  min-width: 300px;
  margin: $spacing-md;
  box-shadow:
    inset 0 1px 0 color.adjust($fg, $alpha: -0.92),
    inset 0 -1px 0 rgba(0, 0, 0, 0.2);

  & > box {
    @include window-box;
    background: transparent;
  }

  separator {
    background: linear-gradient(
      90deg,
      transparent,
      color.adjust($fg, $alpha: -0.88),
      transparent
    );
    margin: 0.5rem 0;
    min-height: 1px;
    opacity: 0.5;
  }

  image {
    margin-right: $spacing-md;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  }
}